.Container {
    position: relative;
}
.Header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px;
    background: rgba(3, 4, 94, 0.5);
    border-right: 1px solid #023e8a;
    border-bottom: 1px solid #023e8a;
    border-radius: 0 0 8px 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container:hover .Header {
    opacity: 0.3;
    transform: translateY(-70%);
}

.Container .Header:hover {
    opacity: 1;
    transform: translateY(0);
}

.HeaderLink {
    cursor: pointer;
}

.HeaderLink .HeaderLinkIcon {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}
.HeaderLink:hover .HeaderLinkIcon {
    transform: translateX(-4px);
}

.HeaderText {
    margin-left: 16px;
    cursor: default;
}
.HeaderTitle {
    color: white;
    font-size: 16px;
    line-height: 20px;
}
.HeaderDescription {
    color: #d9d9d9;
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
}
