html {
    /* https://colorhunt.co/palette/1b243051557e816797d6d5a8 */
    --c-dark: #1b2430;
    --c-medium-dark: #3d4e64;
    --c-alt1: #51557e;
    --c-alt2: #816797;
    --c-light: #d6d5a8;
    --c-white: #fff;

    background-color: var(--c-white);
    background-attachment: fixed;
}

body {
    margin: 0;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
