.Root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.CanvasContainer {
    height: 100%;
    width: 100%;
    display: flex; /** So contents don't get white space */
}
